<section class="tp-section">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="tp-section-header">
          <h2 class="tp-section-header__title">STAY TOUCH</h2>
          <h2 class="tp-section-header__title-ja is-ja">アップデートを受け取る</h2>
        </div>
      </div>
      <div class="col-md-9">
          <p class="is-ja">メールにてDevRelに関するニュース、アップデートをお送りします。</p>
          <p class="is-en">Contact is below.</p>
        <div class="u-align-center mt8">
          <form autocomplete="false" role="form" method="post" action="https://ma.moongift.co.jp/form/submit?formId=2" id="mauticform_merugouduyongfomu" data-mautic-form="merugouduyongfomu" enctype="multipart/form-data" style="text-align:left;">
          <div class="mauticform-error" id="mauticform_merugouduyongfomu_error"></div>
          <div class="mauticform-message" id="mauticform_merugouduyongfomu_message"></div>
              <input id="mauticform_input_merugouduyongfomu_meruadoresu" name="mauticform[meruadoresu]" value="" class="mauticform-input" type="email" style="font-size:2rem;width:60%">
              <button type="submit" name="mauticform[submit]" id="mauticform_input_merugouduyongfomu_submit" value="" class="mauticform-button btn btn-default" style="font-size:2rem;">送信</button>
          <input type="hidden" name="mauticform[formId]" id="mauticform_merugouduyongfomu_id" value="2">
          <input type="hidden" name="mauticform[return]" id="mauticform_merugouduyongfomu_return" value="">
          <input type="hidden" name="mauticform[formName]" id="mauticform_merugouduyongfomu_name" value="merugouduyongfomu">

          </form>
        </div>
      </div>
    </div> <!-- / .row  -->
  </div><!-- /.container -->
</section>

<script type="text/javascript">
    /** This section is only needed once per page if manually copying **/
    if (typeof MauticSDKLoaded == 'undefined') {
        var MauticSDKLoaded = true;
        var head            = document.getElementsByTagName('head')[0];
        var script          = document.createElement('script');
        script.type         = 'text/javascript';
        script.src          = 'https://ma.moongift.co.jp/media/js/mautic-form.js';
        script.onload       = function() {
            MauticSDK.onLoad();
        };
        head.appendChild(script);
        var MauticDomain = 'https://ma.moongift.co.jp';
        var MauticLang   = {
            'submittingMessage': "お待ちください…"
        }
    }
</script>
