<header class="l-header">
  <h1><a href="/" class="js-header-icon-logo"><img src="/assets/images/icon-logo.png" class="l-header__icon-logo" alt="MOONGIFT" /></a></h1>
  <span class="l-header__lang">
    <span onclick="changeLang('en')">EN</span> / 
    <span onclick="changeLang('ja')">JA</span>
  </span>
  <div class="l-header__spmenu-btn js-spmenu-btn">
    <div class="c-hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="l-header__inner">
    <nav class="l-header__nav">
      <ul class="l-header__navlist js-spmenu">
        <li class="l-header__navlist-item"><a href="/#mission" class="l-header-navlist__link">MISSION</a></li>
        <li class="l-header__navlist-item"><a href="/#service" class="l-header-navlist__link">SERVICE</a></li>
        <li class="l-header__navlist-item"><a href="/#client" class="l-header-navlist__link">CLIENT</a></li>
        <li class="l-header__navlist-item"><a href="/#blog" class="l-header-navlist__link">BLOG</a></li>
        <li class="l-header__navlist-item"><a href="/#about" class="l-header-navlist__link">ABOUT</a></li>
        <li class="l-header__navlist-item"><a href="/contact" class="l-header-navlist__link">CONTACT</a></li>
      </ul>
    </nav>
  </div>
  <div class="c-sidebar">
    <div class="c-sidebar__lang">
      <span onclick="document.location.href='https://devrel.jp/'" class="is-ja">JA</span>
      <span onclick="changeLang('ja')" class="is-en">JA</span>
    </div>
    <img src="/assets/images/logo-vertical.png" class="c-sidebar__logo" />

    <div class="c-sidebar__copyright">
      COPYRIGHT 2018 MOONGIFT INC. ALL RIGHTS RESERVED.
    </div>

    <div class="c-sidebar__sns">
      Social Media
      <a href="https://www.facebook.com/devrel.co/" target="_blank" class="c-sidebar__facebook"><img src="/assets/images/icon-facebook.png" alt="Facebook"></a>
      <a href="https://twitter.com/devrelco" target="_blank" class="c-sidebar__twitter"><img src="/assets/images/icon-twitter.png" alt="Twitter"></a>
    </div>
  </div>
</header>
